<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>系统设置<small>菜单管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>系统设置</el-breadcrumb-item>
                    <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="菜单名称" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <el-button @click="findPage()" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="name" label="菜单名称" align="center"></el-table-column>
                        <el-table-column prop="linkUrl" label="页面地址" align="center"></el-table-column>
                        <el-table-column prop="path" label="菜单位置" align="center"></el-table-column>
                        <el-table-column prop="parentMenuId" label="父菜单id" align="center"></el-table-column>
                        <el-table-column prop="level" label="菜单等级" align="center"></el-table-column>
                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增菜单" :visible.sync="dialogFormVisible">
                            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="菜单名称" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="页面地址" prop="linkUrl">
                                            <el-input v-model="formData.linkUrl"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="菜单位置" prop="path">
                                            <el-input v-model="formData.path"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="菜单等级" prop="level">
                                            <el-input v-model="formData.level"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="父菜单id" prop="parentMenuId">
                                            <el-input v-model="formData.parentMenuId"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="优先级" prop="priority">
                                            <el-input v-model="formData.priority"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="16">
                                        <el-form-item label="图标" prop="icon">
                                            <el-input v-model="formData.icon"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="描述" prop="description">
                                            <el-input v-model="formData.description" type="textarea"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑菜单" :visible.sync="dialogFormVisible4Edit">
                            <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="菜单名称" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="页面地址" prop="linkUrl">
                                            <el-input v-model="formData.linkUrl"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="菜单位置" prop="path">
                                            <el-input v-model="formData.path"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="菜单等级" prop="level">
                                            <el-input v-model="formData.level"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="父菜单id" prop="parentMenuId">
                                            <el-input v-model="formData.parentMenuId"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="优先级" prop="priority">
                                            <el-input v-model="formData.priority"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="16">
                                        <el-form-item label="图标" prop="icon">
                                            <el-input v-model="formData.icon"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="描述" prop="description">
                                            <el-input v-model="formData.description" type="textarea"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
        //在vue中,自定义的方法或者axios自带的方法中this都代表vue对象本身,
        //如果使用jquery的方法,this就不代表vue对象,需要使用vue对象名来代表vue对象
        var vue = new Vue({
            el: '#app',
            data:{
                pagination: {//分页相关模型数据
					  currentPage: 1,//当前页码
					  pageSize:10,//每页显示的记录数
					  total:0,//总记录数
					  queryString:null//查询条件
				},
				dataList: [],//当前页要展示的分页列表数据
                formData: {},//表单数据
                dialogFormVisible:false,//增加表单是否可见
                dialogFormVisible4Edit:false,//编辑表单是否可见
                rules: {//校验规则
                    name: [{ required: true, message: '菜单名称为必填项', trigger: 'blur' }],
                    path: [{ required: true, message: '菜单位置为必填项', trigger: 'blur' }],
                    level: [{ required: true, message: '菜单等级为必填项', trigger: 'blur' }]
                }
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                //vue对象初始化后加载数据
                this.findPage();
            },
            methods: {
                //编辑
                handleEdit(){
                    this.$refs["dataEditForm"].validate((valid)=>{
                        if (valid){
                            axios.post("/menu/updateMenu.do",this.formData).then((response)=>{
                                //关闭窗口
                                this.dialogFormVisible4Edit=false;
                               if (response.data.flag){
                                    this.$message({
                                       message:response.data.message,
                                       type:"success"
                                    });
                               }else {
                                   this.$message.error(response.data.message);
                               }
                                this.findPage();
                            })
                        }else {
                            this.$message.error("检验表单项失败");
                        }
                    });
                },
                //添加
                handleAdd () {
                    //使用validate函数校验表单数据 valid是校验表单后返回的结果 true或false
                    // =>{}是箭头函数 需要ECMAScript6才支持
                    this.$refs["dataAddForm"].validate((valid)=>{
                        //校验成功 发送axios请求
                        if (valid){
                            axios.post("/menu/addMenu.do",this.formData).then((response)=>{
                               //关掉窗口
                               this.dialogFormVisible=false;
                               //判断返回的状态码
                               //1代表操作成功 0代表操作失败
                               if (response.data.flag){
                                   this.$message({
                                       message:response.data.message,
                                       type:"success"
                                   })
                               }else {
                                   this.$message.error(response.data.message);
                               }
                                this.findPage();
                            })
                        }else {
                            this.$message.error("表单校验失败");
                        }
                    })
                },
                //分页查询
                findPage() {
                    //如果有查询条件就必须把当前页设置为第一页
                    if (this.pagination.queryString!=null&&this.pagination.queryString.trim().length>0){
                        this.pagination.currentPage=1;
                    }
                    //封装请求参数
                    var params={
                        currentPage:this.pagination.currentPage,
                        pageSize:this.pagination.pageSize,
                        queryString:this.pagination.queryString
                    };
                    axios.post("/menu/queryMenuByPage.do",params).then((response)=>{
                        //分别给数据集合和总页数赋值
                        this.dataList=response.data.rows;
                        this.pagination.total=response.data.total;
                    })
                },
                // 重置表单
                resetForm(formName) {
                    //首先必须把formData的数据清空,因为如果先点击编辑就会给formDatas数据赋值进行初始化
                    //而resetFields()方法是把表单属性进行初始化,所以每次重置时是把表单的属性重置到第一次点击编辑时的回显数据
                    //所以必须先把formData数据清空,再使用resetFields重置校验时留下的提示达到重置表单的效果
                    this.formData={};
                    //初始化表单
                    if(this.$refs[formName]!=null){
                        this.$refs[formName].resetFields();
                    }
                },
                // 弹出添加窗口
                handleCreate() {
                    //调用函数重置表单
                    this.resetForm("dataAddForm");
                    //让新增窗口显示 dialogFormVisible=false 新增窗口隐藏
                    this.dialogFormVisible = true;
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                    //row对象代表当前点击的检查项
                    console.log("row.id="+row.id);
                    axios.get("/menu/queryMenuById/"+row.id+".do").then((response)=>{
                        //当请求成功时
                        if (response.data.flag){
                            //把返回的数据赋值给表单数据
                            this.formData=response.data.data;
                            //让编辑窗口显示  看清楚是dialogFormVisible4Edit属性不是dialogFormVisible属性
                            this.dialogFormVisible4Edit=true;
                        }else {
                            this.$message.error("获取数据失败,请刷新当前页面")
                        }
                    });
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    //把传的参数赋值给当前页
                    this.pagination.currentPage=currentPage;
                    //再重新加载数据
                    this.findPage();
                },
                // 删除
                handleDelete(row) {
                    //首先警告提示
                    this.$confirm("您确定要删除该菜单吗？","提示",{
                       type:"warning"
                    }).then(()=>{
                        //打印id
                        console.log("row.id="+row.id);

                        //发送请求
                        axios.get("/menu/deleteMenuById/"+row.id+".do").then((response)=>{
                            if (response.data.flag){
                                this.$message({
                                    message:response.data.message,
                                    type:"success"
                                });
                            }else {
                                this.$message.error(response.data.message);
                            }
                            location.reload();
                        })
                    });
                }
            }
        })
    </script>
</html>