<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <!-- 引入组件库 -->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../plugins/elementui/index.js"></script>
        <script src="../js/axios-0.18.0.js"></script>
        <style>
            .datatable {
                position: relative;
                box-sizing: border-box;
                -webkit-box-flex: 1;
                width: 100%;
                max-width: 100%;
                font-size: 14px;
                color: rgb(96, 98, 102);
                overflow: hidden;
                flex: 1 1 0;
            }
            .datatable td, .datatable th {
                padding: 12px 0;
                min-width: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-overflow: ellipsis;
                vertical-align: middle;
                position: relative;
                text-align: left;
            }
        </style>
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>系统设置<small>角色管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>系统设置</el-breadcrumb-item>
                    <el-breadcrumb-item>角色管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="角色名称/关键词" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <el-button @click="findPage()" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="name" label="角色名称" align="center"></el-table-column>
                        <el-table-column prop="keyword" label="关键词" align="center"></el-table-column>
                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增角色" :visible.sync="dialogFormVisible">
                            <template>
                                <el-tabs v-model="activeName" type="card">
                                    <el-tab-pane label="基本信息" name="first">
                                        <el-form ref="dataAddForm" :model="formData" label-position="right" :rules="rules" label-width="100px">
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="角色名称" prop="name">
                                                        <el-input v-model="formData.name"/>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="关键词" prop="keyword">
                                                        <el-input v-model="formData.keyword"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="24">
                                                    <el-form-item label="描述" prop="description">
                                                        <el-input v-model="formData.description" type="textarea"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                        </el-form>
                                    </el-tab-pane>
                                    <el-tab-pane label="权限信息" name="second">
									<div class="checkScrol">
                                        <table class="datatable">
                                            <thead>
                                            <tr>
                                                <th>选择</th>
                                                <th>权限名称</th>
                                                <th>关键词</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="c in tableData">
                                                <td>
                                                    <input :id="c.id" v-model="permissionIds" type="checkbox" :value="c.id">
                                                </td>
                                                <td><label :for="c.id">{{c.name}}</label></td>
                                                <td><label :for="c.id">{{c.keyword}}</label></td>
                                            </tr>
                                            </tbody>
                                        </table>
									</div>
                                    </el-tab-pane>
                                    <el-tab-pane label="菜单信息" name="third">
                                        <div class="checkScrol">
                                            <table class="datatable">
                                                <thead>
                                                <tr>
                                                    <th>选择</th>
                                                    <th>菜单名称</th>
                                                    <th>菜单位置</th>
                                                    <th>菜单描述</th>
                                                    <th>菜单等级</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="c in tableMenuData">
                                                    <td>
                                                        <input :id="c.id" v-model="menuIds" type="checkbox" :value="c.id">
                                                    </td>
                                                    <td><label :for="c.id">{{c.name}}</label></td>
                                                    <td><label :for="c.id">{{c.path}}</label></td>
                                                    <td><label :for="c.id">{{c.description}}</label></td>
                                                    <td><label :for="c.id">{{c.level}}</label></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑角色" :visible.sync="dialogFormVisible4Edit">
                            <template>
                                <el-tabs v-model="activeName" type="card">
                                    <el-tab-pane label="基本信息" name="first">
                                        <el-form ref="dataEditForm" :model="formData" label-position="right" :rules="rules" label-width="100px">
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="角色名称" prop="name">
                                                        <el-input v-model="formData.name"/>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="关键词" prop="keyword">
                                                        <el-input v-model="formData.keyword"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="24">
                                                    <el-form-item label="描述" prop="description">
                                                        <el-input v-model="formData.description" type="textarea"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                        </el-form>
                                    </el-tab-pane>
                                    <el-tab-pane label="权限信息" name="second">
                                        <div class="checkScrol">
                                            <table class="datatable">
                                                <thead>
                                                <tr>
                                                    <th>选择</th>
                                                    <th>权限名称</th>
                                                    <th>关键词</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="c in tableData">
                                                    <td>
                                                        <input :id="c.id" v-model="permissionIds" type="checkbox" :value="c.id">
                                                    </td>
                                                    <td><label :for="c.id">{{c.name}}</label></td>
                                                    <td><label :for="c.id">{{c.keyword}}</label></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </el-tab-pane>
                                    <el-tab-pane label="菜单信息" name="third">
                                        <div class="checkScrol">
                                            <table class="datatable">
                                                <thead>
                                                <tr>
                                                    <th>选择</th>
                                                    <th>菜单名称</th>
                                                    <th>菜单位置</th>
                                                    <th>菜单描述</th>
                                                    <th>菜单等级</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="c in tableMenuData">
                                                    <td>
                                                        <input :id="c.id" v-model="menuIds" type="checkbox" :value="c.id">
                                                    </td>
                                                    <td><label :for="c.id">{{c.name}}</label></td>
                                                    <td><label :for="c.id">{{c.path}}</label></td>
                                                    <td><label :for="c.id">{{c.description}}</label></td>
                                                    <td><label :for="c.id">{{c.level}}</label></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                activeName:'first',//添加/编辑窗口Tab标签名称
                pagination: {//分页相关属性
                    currentPage: 1,
                    pageSize:10,
                    total:100,
                    queryString:null,
                },
                dataList: [],//列表数据
                //一定要加http:// 因为这是跨域请求 必须指定协议 否则请求失败
                back_url:"http://localhost:9001/role",
                permission_url:"http://localhost:9001/permission",
                menu_url:"http://localhost:9001/menu",
                params:{checkGorup:this.formData,permissionIds:this.permissionIds},
                formData: {},//表单数据
                tableData:[],//新增和编辑表单中对应的权限列表数据
                tableMenuData:[],//新增和编辑表单中对应菜单列表数据
                permissionIds:[],//新增和编辑表单中权限对应的复选框，基于双向绑定可以进行回显和数据提交
                menuIds:[],//新增和编辑表单中菜单对应的复选框
                dialogFormVisible: false,//控制添加窗口显示/隐藏
                dialogFormVisible4Edit:false,//控制编辑窗口显示/隐藏
                rules: {//校验规则
                    name: [{ required: true, message: '角色名称为必填项', trigger: 'blur' }],
                    keyword: [{ required: true, message: '关键词为必填项', trigger: 'blur' }]
                }
            },
            created() {
                this.findPage();
            },
            methods: {
                //编辑
                handleEdit() {
                    axios.post(this.back_url+"/updateRole/"+this.permissionIds+"/"+this.menuIds+".do",this.formData).then((response)=>{
                        //让表单隐藏
                        this.dialogFormVisible4Edit=false;
                        if (response.data.code==1){
                            this.$message({
                                message:response.data.message,
                                type:"success"
                             });
                        }else {
                            this.$message.error(response.data.message);
                        }
                    }).finally(()=>{
                        //刷新数据
                        this.findPage();
                    });
                },
                //添加
                handleAdd () {
                    console.log("formData:"+this.formData);
                    axios.post(this.back_url+"/insertRole/"+this.permissionIds+"/"+this.menuIds+".do",this.formData).then((response)=>{
                        //把表单隐藏
                        this.dialogFormVisible=false;
                        if (response.data.code=1){
                            this.$message({
                                message:response.data.message,
                                type:"success"
                             });
                        }else {
                            this.$message.error(response.data.message);
                        }
                    }).finally(()=>{
                        //重新加载数据
                        this.findPage();
                    });
                },
                //分页查询
                findPage() {
                    //首先判断queryString是否为Null或者空串 不是就把当前页赋值为1
                    if (this.pagination.queryString!=null&&this.pagination.queryString.trim().length>0){
                       this.pagination.currentPage=1;
                    }
                    //封装参数
                    var params=({
                        currentPage:this.pagination.currentPage,
                        pageSize:this.pagination.pageSize,
                        queryString:this.pagination.queryString
                    });
                    console.log("params:"+params);
                    //发送post请求
                    axios.post(this.back_url+"/queryRoleByPage.do",params).then((response)=>{
                        //分别给数据集合和总页数赋值
                        this.dataList=response.data.rows;
                        this.pagination.total=response.data.total;
                    });
                },
                // 重置表单
                resetForm(formName) {
                    //把表单的数据清空
                    this.formData={};
                    //把选中的状态初始化
                    this.permissionIds=[];
                    this.menuIds=[];
                    if(this.$refs[formName]!=null){
                        this.$refs[formName].resetFields();
                    }
                },
                // 弹出添加窗口
                handleCreate() {
                    //重置表单
                    this.resetForm("dataAddForm");
                    //默认显示第一个标签
                    this.activeName="first";
                    //加载权限列表
                    axios.get(this.permission_url+"/findAll.do").then((response)=>{
                        if (response.data.code==1){
                            //把返回值赋值给表单
                            this.tableData=response.data.data;
                            //加载菜单数据
                            axios.get(this.menu_url+"/findAll.do").then((response)=>{
                                if (response.data.code==1) {
                                    //让表单显示
                                    this.dialogFormVisible = true;
                                    //把返回值赋给表单
                                    this.tableMenuData=response.data.data;
                                }else {
                                    this.$message.error(response.data.message);
                                }
                            });
                        }else {
                            this.$message.error(response.data.message);
                        }
                    });
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                    console.log("row.id:"+row.id);
                    //初始化数据
                    this.resetForm("dataEditForm");
                    //首先角色基本信息回显
                    axios.get(this.back_url+"/queryRoleById/"+row.id+".do").then((response)=>{
                        if (response.data.code==1){
                            //把数据赋值给表单
                            this.formData=response.data.data;
                            //设置默认打开第一个标签
                            this.activeName="first";
                            //加载权限
                            axios.get(this.permission_url+"/findAll.do").then((response)=>{
                                    if (response.data.code==1){
                                        this.tableData=response.data.data;
                                        //加载菜单
                                          axios.get(this.menu_url+"/findAll.do").then((response)=>{
                                                if (response.data.code==1){
                                                    this.tableMenuData=response.data.data;
                                                }else {
                                                    this.$message.error(response.data.message);
                                                }
                                          });
                                    }else {
                                        this.$message.error(response.data.message);
                                    }
                            });
                            //让表单可见
                            this.dialogFormVisible4Edit=true;
                            //加载权限中有那些被选中permissionIds
                            axios.get(this.permission_url+"/queryPermissionIdsById/"+row.id+".do").then((response)=>{
                                if (response.data.code==1){
                                    this.permissionIds=response.data.data;
                                    //加载菜单中有那些被选中的menuIds
                                    axios.get(this.menu_url+"/queryMenuIdsById/"+row.id+".do").then((response)=>{
                                            if (response.data.code==1){
                                                this.menuIds=response.data.data;
                                            }else {
                                                this.$message.error(response.data.message);
                                            }
                                    });
                                }else {
                                    this.$message.error(response.data.message,"原因:数据可能有问题");
                                }
                            });
                        }else {
                            this.$message.error(response.data.message,"原因:数据可能有问题");
                        }
                    });
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    //更改当前页的值
                    this.pagination.currentPage=currentPage;
                    //重新加载数据
                    this.findPage();
                },
                // 删除
                handleDelete(row) {
                    this.$confirm("您确定要删除该角色吗?","提示",{type:"warning"}).then(()=>{
                        console.log("row.id:"+row.id);
                        axios.get(this.back_url+"/deleteRoleById/"+row.id+".do").then((response)=>{
                            if (response.data.code==1){
                                this.$message({
                                    message:response.data.message,
                                    type:"success"
                                 });
                            }else {
                                this.$message.error(response.data.message);
                            }
                        }).finally(()=>{
                            //重新加载数据
                            this.findPage();
                        });
                    })
                }
            }
        })
    </script>
</html>
